body{
    background-color:rgb(19, 9, 5);
    }

    #navbar{
    display: flex;
    }
.logo{
    margin:10px;
    padding:10px;
    position: absolute;
    top:1%;
    width: 100%;
    font-size:20px;
    color: rgb(155, 246, 217);
    
    }
#navbar ul{
    display:flex;
    position: absolute;
    top:1%;
    margin-left: 550px;
}
#navbar ul li{
    list-style: none;
    }    

#navbar ul li a{
    display: block;
    padding:2px;
    text-decoration: none;
    color:white;
    border-radius: 20px;
    font-size: 20px;
    width: 95px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(30, 17, 12);
}
#navbar ul li a:hover{
    background: rgb(7, 3, 43);
    background: radial-gradient(circle, rgb(212, 222, 27) 0%, rgb(174, 212, 236) 100%);
    color: black;
    border: 2px solid black;

    }
.banner{
    position: relative;
    width: 90%;
    }
.banner img{
    width: 1250px;


  
}
.heading{
    color:rgb(252, 204, 212);
    position: absolute;
    top:28%;
    left: 35%;
    text-align: center;
    font-size: 70px;
    font-family: 'Great Vibes', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Water Brush', cursive;
}
   
.container p{
    background: -webkit-linear-gradient(rgb(223, 238, 242), rgb(228, 244, 237));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top:43%;
    left:13%;
    font-size: 25px;
    margin-left: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.container .btn1{
    position: absolute;
    top:55%;
    left: 50%;
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background-color:transparent;
    cursor: pointer;
    color: white;
    border: 1px solid rgb(247, 241, 229);
    padding: 2px; 
    width: 150px;     
}
.container .btn1:hover{
    background: radial-gradient(circle, rgb(20, 216, 230) 0%,  rgb(55, 226, 146) 100%);
    color: black;
    border: 1px solid black;
    

 
}

.mid{
    text-align: center;
    color: aliceblue;
}
.spcl{
    display: inline-block;
    margin-left: 90px;
    vertical-align: top;
    margin-bottom: 50px;
}
.spcl2{
    color: white;
    border: 1px solid rgb(211, 250, 246);
    box-shadow: 15px 3px 2px 1px rgb(185, 201, 194) ;
    border-radius: 15px;
    text-align: center;
    margin-top: 60px;
    width: 280px;
    height: 540px;
}

.spcl2:hover{
    margin-top: 20px;
    box-shadow: 0px 0px 20px 0px rgb(176, 236, 198) ;
    border: none;

}
.spcl3{
    width: 280px;
    height: 540px;
    margin-top: 50px;
    color: white;
}
.spcl3 #glass{
    font-size: 70px;
    margin-left: 90px;
    color: orangered;

}
.special-heading{
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(20, 216, 230), rgb(55, 226, 146));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.our-special-info{
    text-align: left;
    font-size: 25px;
    background: -webkit-linear-gradient(rgb(16, 242, 50), rgb(224, 252, 206));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.spcl img{
    height: 190px;
    width:280px;
    border-radius: 15px;
}

.container2 p{
    padding: 20px;
}
.container2 .mid button{
    padding: 5px;
    width: 150px;
    border-radius: 12px;
    border: none;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    cursor: pointer;
    color: black;
    font-size: 16px;

}
.container2 .mid button:hover{
    background: rgb(149, 245, 202);
    background: radial-gradient(circle, rgb(153, 229, 149) 0%, rgb(106, 200, 244) 100%);
   

}

.parent2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}
.flat-icon{
    height: 200px;
    width: 200px;
    margin-bottom: 60px;
    margin-right: 40px;
    border-radius: 10px;
}
.flat-icon:hover{
    height: 180px;
    width: 180px;
    margin-bottom: 60px;
    margin-right: 40px;
    border-radius: 10px;
}
.div2{
    height: 200px;
    width: 420px;
    background-color: rgb(206, 219, 206);
    box-shadow: 2px 2px 2px orange;
    display: flex;
}
.div2:hover{
    box-shadow: 2px 2px 2px greenyellow;
}
.container1{
    height:400px;

    
}
.container1 img{
    width:450px;
    margin-left:50px;
    border-radius: 10px;
    box-shadow: 6px 2px 4px 10px rgb(86, 70, 70);
}
.container1 img:hover{
    border-radius: 20px;
    box-shadow: 5px 2px 10px rgb(14, 13, 13);

}

.content{
    display: inline-block;
    vertical-align: top;
    margin-top: 18px;
}


.head{
    text-align: top;
    text-align: center;
    background: -webkit-linear-gradient(rgb(232, 224, 252), rgb(35, 250, 100));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    

 
}
.container1 .head2{
    text-align: center;
}
.about{
    width:580px;
    color:white;
    vertical-align: top;
    margin-left: 80px;
  
    
}
.btn2{
    font-size: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: black;
    margin-top: 25px; 
    padding: 5px;    
}
.btn2:hover{
    background: rgb(149, 245, 202);
    background: radial-gradient(circle, rgb(153, 229, 149) 0%, rgb(106, 200, 244) 100%);
   
}
.container2 h1{
    font-family: 'Great Vibes', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Water Brush', cursive;
    font-size: 50px;
    
}
.heading5{
    font-family: 'Great Vibes', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Water Brush', cursive;
    font-size: 40px;
    color: white;
    margin-left: 30px;
}

.container3 img{
    height: 250px;
 
}
.container3 video{
   
    width:460px;

 }
 .view{
     display: inline-block;
     vertical-align: top;
     margin-top: 60px;
     margin-left: 20px;
 }
 .view img{
     border-radius: 10px;
     box-shadow: 6px 2px 4px 7px rgb(86, 70, 70);
 }
 .view img:hover{
    box-shadow: 2px 2px 3px 2px rgb(37, 4, 4);
 }
 .view video{
    box-shadow: 6px 2px 4px 7px rgb(86, 70, 70);
    border-radius: 10px;
 }
 .view :hover{
    box-shadow: 2px 2px 3px 2px rgb(37, 4, 4);
 }
 .chef{
     display: inline-block;
     vertical-align:top; 
     height:300px;
     width:300px;
     margin-left:30px;
     background: radial-gradient(circle,rgb(153, 229, 149) 0%, rgb(249, 197, 245) 100%);
     padding: 15px;
     margin-top: 10px;
     border-radius: 20px;
     box-shadow: 7px 1px 2px 2px  rgb(125, 109, 122);
}
.chef:hover{
    border-radius: 40px;
    background: radial-gradient(circle, rgb(153, 229, 149) 0%, rgb(106, 200, 244) 100%);
   

}
 .container3{
    text-align: center;
    padding: 5px;
    color: white;
    margin-top: 60px;
} 

 
.container4 img{
    width: 270px;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    
}   
.container4 img:hover{
    border-radius: 50%;
    border: 2px solid rgb(4, 4, 24);
    
}
.container4{
    text-align: center;
    padding: 5px;
    color: white;
} 
.head2{
    font-family: 'Great Vibes', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Water Brush', cursive;
    color: white;
}
.container4 button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    border: none;
    padding: 3px;
    background-color: rgb(19, 9, 5);
    border-radius:8px;
    margin-top: 20px;
    width: 280px;
   
}
.container4 button:hover{
    background: radial-gradient(circle, rgb(153, 229, 149) 0%, rgb(106, 200, 244) 100%);
    color: rgb(11, 10, 10);
    margin-top: 0px;
}
.container4 span{
    font-size: 15px;

}

.feed{
    display: inline-block;
    vertical-align:top; 
    height:240px;
    width:300px;
    margin-left:20px;
    padding: 15px;
    margin-top: 10px;
    border-radius: 20px;
    border:1px solid white;
    box-shadow: 5px 2px 2px 3px rgb(194, 248, 112);
}
.feed:hover{
    border-radius: 60px;
    box-shadow: 5px 2px 8px 3px rgb(237, 253, 215);

}
.feed img{
   width: 60px;
   height: 60px;
   border-radius: 50%;
}
.feed img:hover{
    border: 1.5px solid greenyellow;
}
.btn-go-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: aliceblue;
    font-size: 15px;
}
.parent3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgb(244, 138, 229) 0%, rgb(83, 212, 238) 100%);
    height:300px;
    margin-top: 100px;
}